In [17]:
# Iterator
a = iter([1, 2, 3])
next(a)

1

In [39]:
# Generator
def gen_cube(n):
    for i in range(n):
        yield i**3 # convert it into generator
res = gen_cube(5)
res

In [41]:
print(next(res))
print('After next')
for i in res:
    print(i)

0
After next
1
8
27
64

In [47]:
# fibanacci
def genFibo(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a, b = b, a+b
fibo = genFibo(4)
for i in fibo:
    print(i)

1
1
2
3

In [49]:
# Map - Lambda
list(map(lambda x: x*x, [1, 2, 3]))

[1, 4, 9]

In [65]:
# map on multiple list
list(map(lambda x, y:x+y, [1, 2,3], [5, 7,7]))

[6, 9, 10]

In [15]:
# reduce
reduce(lambda)

(1.0, -2.0)

In [55]:
a = lambda x, y:(x*x, y)
a(4, 2)

(16, 2)

In [59]:
# Find max elem using reduce
from functools import reduce
reduce(lambda x, y: x if x>y else y, [1, 2,3, 55, 0])

55

In [61]:
reduce(lambda x, y: x+y, [1, 2,3, 55, 0])

61

In [69]:
# filter
list(filter(lambda x: x%2==0, [1, 2, 3, 4, 6]))

[2, 4, 6]

In [148]:
# Function overloading not supported instead allows default param
def calculate(var1:int, var2:int):
    if operation == '+':
       return var1 + var2
    else:
        return var1 - var2

In [180]:
class Person: # Parent
    def __init__(self,name, age): # Constructor
        self.name = name 
        self.age = age
    def __str__(self): # str no working checkk ---------------------------------------------------
        return "Hey"
    def getage(self):
        print("here")
class Student(Person): # child - Inheritance
    def __init__(self, stu_id: int, *args):
        super(Student, self).__init__(*args)
        self._stu_id = stu_id
    # method overriding
    def getage(self):
        print("This is age {}".format(self.age))
afra = Student(1, 'afra', 23)
print(afra._stu_id) # no private var in pytoh just for understanding use _varname as private

1

In [182]:
nihal = Person('nihal', 23)
nihal

In [184]:
print(isinstance(nihal, Person))
print(isinstance(nihal, Student))
print(isinstance(afra, Person))
print(isinstance(afra, Student))
print(isinstance(afra, object))
type(afra)
type(Student)

True
False
True
True
True

type

In [186]:
afra.getage()

This is age 23

In [248]:
class Student:
    def __init__(self):
        self.name = input('Enter name :')
        self.surname = input('Enter surname :')
        self.dob = input('Enter dob :')
        self.clas = input('Enter clas :')
    def __str__(self):
        return 'Student {} created'.format(self.name)
class School(Student):
    def __init__(self ,*args):
        super(School, self).__init__(*args)
        self.schoolname= input('Enter school :')
    def __str__(self):
        return 'name:' + self.schoolname + 'clas:' + self.clas
details = []
while(True):
    inp = input()
    if(inp == 'q'):
        break
    sc = School()
    print(sc)
    details.append(sc)

 yes
Enter name : afra
Enter surname : mp
Enter dob : 1999
Enter clas : 1
Enter school : bright

name:brightclas:1

 q

In [250]:
import pandas as pd
pd.DataFrame.from_records([i.__dict__ for i in details])

   name surname   dob clas schoolname
0  afra      mp  1999    1     bright

# Files

In [361]:
%%writefile test/test.txt
'Hello world! File created'

Overwriting test/test.txt

In [363]:
pwd

'C:\\Users\\asus\\Documents\\Ineuron'

In [375]:
# read file
f = open('test.txt')
f.read()

"'Hello world! File created'\n"

In [377]:
f.read()

''

In [379]:
# Resetting the cursor
f.seek(10)

10

In [381]:
f.read()

"ld! File created'\n"

In [383]:
fr = open('test.txt')
fr.readlines()

["'Hello world! File created'\n"]

In [397]:
fw = open('test.txt', 'w+')
fw.write('update file\n mksdsakdaskdjaskdj')

31

In [399]:
f.seek(0)
f.read()

'update file\nmksdsakdaskdjaskdj'

In [401]:
for i in open('test.txt'):
    print(i)

update file

mksdsakdaskdjaskdj

In [403]:
# StringIO
from io import StringIO # same as file operation
a = 'abc'
b = StringIO(a)
type(b)

_io.StringIO

In [405]:
b.read()

'abc'

In [407]:
b.write('jhj')

3

In [411]:
b.seek(0)
b.read()

'abcjhj'

In [413]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

# Exception Handling

In [424]:
# Syntax/ Compile time error
# Runtime error -- exception handing 
try:
    f = open('a', 'r') 
    f.read()  # IO error
except FileNotFoundError as fe:
    print('Could not find the file', fe)
except IOError:
    print('Could not find the file')
except:
    print("Something went wrong")
else:
    print("flie read succesfully")
    f.close()
    
finally:
    print("Execute Always")

Could not find the file [Errno 2] No such file or directory: 'a'
Execute Always

In [426]:
exit