In [89]:
import sqlite3
db = sqlite3.connect('company.db')

In [77]:
cursor = db.cursor()
cursor.execute('CREATE TABLE company1(ID int, Name  text, Age text, Address text, Salary real)')

In [79]:
cursor.execute("INSERT INTO company1 VALUES(1, 'Jhon', 32, 'Banglore', 100000.00),(2, 'ramesh', 34, 'Banglore', 400000.00)")

In [81]:
a = cursor.execute('SELECT * FROM company1')
list(a)

[(1, 'Jhon', '32', 'Banglore', 100000.0),
 (2, 'ramesh', '34', 'Banglore', 400000.0)]

In [83]:
db.commit()

In [85]:
db.close()

In [95]:
list(db.execute('SELECT * FROM company1 WHERE Salary = 100000.00'))

[(1, 'Jhon', '32', 'Banglore', 100000.0)]

In [93]:
res = db.execute('SELECT * FROM company1 ORDER BY Age desc')
list(res)

[(2, 'ramesh', '34', 'Banglore', 400000.0),
 (1, 'Jhon', '32', 'Banglore', 100000.0)]

In [71]:
db.execute('DROP table  IF EXISTS company')

OperationalError: database is locked